.weather-container {
    background-color: brown;
    margin: 1%;
    padding: 0px 6px;
    padding-bottom: 6px;
    border-radius: 6px;

}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

.weather-text {
    color: rgb(255, 208, 0);
    font-size: 26px;
}

.offer-text {
    color: rgb(255, 208, 0);
    font-size: 22px;
}